<article id="<%= post.layout %>-<%= post.slug %>" <% if (!index && is_post() && theme.post_catalog.enable){ %>style="width: 75%; float:left;"<% } %> class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost" >
  <div id="articleInner" class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      <%- partial('post/category') %>
      <%- partial('post/busuanzi-analytics',{index: index, class_name: 'article-views'}) %>
      <%- partial('post/edit', {index: index, class_name: 'article-edit'}) %>
    </div>
    <div class="article-entry" itemprop="articleBody">

      <% if (theme.post_excerpt && index){ %>
        <% if (post.itemlistimg){ %>
            <p><img src="<%- post.itemlistimg %>"></p>
        <% } %>
        <p class="article-excerpt-content">
        <%- truncate(strip_html(post.content), {length: theme.post_excerpt_length }) %>
        </p>
        <p class="article-more-link">
          <a href="<%- url_for(post.path) %>#more"><%= __('read_more') %></a>
        </p>
      <% } else { %>
        <%- post.content %>
      <% } %>

      <% if (!index){ %>
		<br />
		<div align="center" class="mobileHide">
		    <img src="<%- qrcode(url) %>" text="<%= post.title %>">
			<h4><%= __('post.read_qr') %></h4>
		</div>
      <% } %>

    </div>
    <footer class="article-footer">
      <% if (!index && theme.donate.enable){ %>
        <%- partial('donate') %>
      <% } %>
      <% if (!index && theme.copyright.enable){ %>
      <%- partial('copyright') %>
      <% } %>

      <% if (!index){ %>
		<br />
        <% if (theme.needmoreshare2.enable){ %>
          <!-- needsharebutton JS file -->
          <%- js('need-more-share2/needsharebutton.min') %>
          <!-- needsharebutton CSS file -->
          <%- css('need-more-share2/needsharebutton.min') %>
          <div align="center" style="padding-bottom: 20px" >
            <button class="btn btn-default need-share-button" data-share-icon-style="<%- theme.needmoreshare2.options.iconStyle %>" data-share-boxForm="<%- theme.needmoreshare2.options.boxForm %>" data-share-position="<%- theme.needmoreshare2.options.position %>" data-share-networks="<%- theme.needmoreshare2.options.networks %>" ><i class="fa fa-share-alt"></i> <%= __('post.shareto') %></button>
		  </div>
        <% } %>
      <% } %>

      <% if (!index && post.comments && ( theme.disqus_shortname || theme.wumii || theme.livere_shortname || theme.valine.enable || theme.hashover)){ %>
        <%- partial('comment') %>
      <% } %>
      <% if (!theme.post_excerpt){ %>
        <%- partial('post/tag') %>
      <% } %>

    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<!-- Table of Contents -->
<% if (!index && is_post() && theme.post_catalog.enable){ %>
  <aside id="toc-sidebar">
    <div id="toc" class="toc-article">
    <strong class="toc-title"><%= __('contents') %></strong>
    <% if (toc(post.content) != ""){ %>
        <%- toc(post.content, { class: "nav", list_number: true }) %>
    <% } else { %>
        <ol class="nav"><%= __('none') %></ol>
    <% } %>
    </div>
  </aside>
<% } %>
